
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>欢迎使用salt运维平台</h1>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Salt stack</h2>
      <p>一个配置管理系统，能够维护预定义状态的远程节点,也可以在远程节点上查询状态和执行命令</p>

      <p><a class="btn btn-default" href="https://saltstack.com/">查看更多 &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Flask</h2>
      <p>Flask 是一个 Python 实现的 Web 开发微框架i,基于Werkzeug WSGI工具箱和Jinja2 模板引擎。 </p>
      <p><a href="http://flask.pocoo.org/" class="btn btn-default" href="#">查看更多&raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Bootstrap</h2>
      <p>Bootstrap 是最受欢迎的 HTML、CSS 和 JS 框架，用于开发响应式布局、移动设备优先的 WEB 项目。</p>
      <p><a href="http://v3.bootcss.com/" class="btn btn-default" href="#">查看更多&raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}
